.footer {
  display: block;
  z-index: 1;
  padding: 0;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}
.footer span {
  display: inline-block;
  padding: 4px 9px 4px 9px;
  background: var(--text);
  border-top-left-radius: 5px;
}
.footer a {
  display: inline-block;
  color: inherit;
  transition: 0.65s;
  padding: 4px 9px 4px 9px;
  border-bottom-right-radius: 5px;
  background: var(--text-primary);
  color: var(--divider);
}
.footer a:hover {
  color: var(--divider);
  text-decoration: underline;
}
