.header {
  font-family: "Roboto Mono", mono;
  font-size: 1.3rem;
  padding-top: 1.1rem;
}
.editor {
  width: 100%;
  height: 300px;
  font-family: "Roboto Mono", mono;
  letter-spacing: 1px;
  resize: none;
}
.previewer {
  width: 100%;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

@media (min-width: 1200px) {
  .header {
    font-size: 1.6rem;
  }
  .editor,
  .previewer {
    height: 500px;
    margin-top: 0px;
  }
}