.App-inner {
  padding: 0.6rem;
}
.editor,
.previewer {
  margin-bottom: 30px;
  transition: 0.37s;
}
  .editor {
    width: 100%;
    height: 300px;
    font-family: "Roboto Mono", mono;
    letter-spacing: 1px;
    resize: none;
  }
  .previewer {
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
  }

.maximized {
  height: 0;
  padding: 0;
  display: block;
  border: 0;
}

.bar-toggle {
  width: 100%;
}

@media (min-width: 1200px) {
  .editor,
  .previewer {
    height: 500px;
    margin-top: 0px;
  }
}